<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Tech Blog</title>
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>
	<header class="header">
		<section class="navBar">
			<a href="/">
				<h3 class="navMenu">
					Home
				</h3>
				</a>
			{{#if logged_in}}
			<a href="/profile">
				<h3 class="navMenu">
					Dashboard
				</h3>
			</a>
			<a>
				<h3 class="navMenu" id="logout">
					Logout
				</h3>
			</a>
			{{else}}
			<a href="/login">
				<h3 class="navMenu">
					Login/SignUp
				</h3>
			</a>
			{{/if}}
		</section>
		<div class="techBlogEmblem">
			<h1>The Tech Blog</h1>
		</div>
	</header>
	{{{ body }}}
	{{#if logged_in}}
	<script src="/js/logout.js"></script>
	{{/if}}
</body>

</html>