<section class="pageBox">
    <form class="update-post-form">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input id="post-title" class="input" class="checkState" type="text"
                            value="{{title}}">
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control boxShadow borderRadius">
                        <textarea class="textarea" id="post-contents"
                            placeholder="Post Contents">{{post_contents}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button" id="updatePostBtn">
                            Edit Post!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="/js/editPost.js"></script>
</body>

</html>
